#####################################################################
#	Probe Cr3d Probe 8mm Short
#####################################################################

[probe]
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, change pin to ^!PA3
pin: ^PA3
x_offset: 0
y_offset: 25.0
z_offset:    1.255 #VonWange Schwarz #Nozzle Sven
#z_offset:   0.880  #VonWange Schwarz #Phateus Copper
#z_offset:   0.140  #INGENIUM 3D Grün   
samples: 6
samples_result: median
sample_retract_dist: 1
samples_tolerance: 0.0025
samples_tolerance_retries: 10